<div class="fxContainer" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center">

  <div class="image-container flex-item">
    <md-toolbar color="primary">
      <span>Image: {{imageName}}</span>
    </md-toolbar>
    <md-card>
      <img md-card-image #originalImage [src]="source">
      <md-select #enhancementSelect placeholder="Enhancements" [disabled]="!isImageSelected">
        <md-option *ngFor="let enhancement of enhancements" [value]="enhancement.value" (click)="onEnhance(enhancement.value)">
          {{ enhancement.viewValue }}
        </md-option>
      </md-select>
    </md-card>
  </div>

  <div class="image-container flex-item">
    <md-toolbar color="accent">
      <span>Processed Image</span>
    </md-toolbar>
    <md-card>
      <canvas md-card-image #enhancedImage [width]="canvasDimensions.width" [height]="canvasDimensions.height">
      </canvas>
      <md-input-container>
        <input md-input #saveFileName type="text" placeholder="Save As...">
        <span mdSuffix>.jpg</span>
      </md-input-container>
      <span>  
        <button md-icon-button (click)="onUpload()">
          <md-icon>save</md-icon>
        </button>
        <button md-icon-button (click)="onDownload()">
          <a #downloadLink></a>
          <md-icon>file_download</md-icon>
        </button>
      </span>
    </md-card>
  </div>

</div>