/* You can add global styles to this file, and also import other style files */
body {
    padding: 0px;
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
